project:
  type: book

book:
  title: "Alcohol consumption per country"
  author: "Minya, Emilio, Ambre, Franck & Perrine"
  date: "05/12/2025"
  chapters:
    - index.qmd
    - intro.qmd
    - Reveal_your_country.qmd

bibliography: references.bib

format:
  html:
    theme:
      - cosmo
      - brand
  pdf:
    documentclass: scrreprt



